

.landscape {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #1f1f43;
    opacity: 1;
    background: repeating-linear-gradient(45deg, #2a2d6e, #2a2d6e 100px, #1f1f43 100px, #1f1f43 200px);
}