
$black: #000;
$white: #FFF;

$main: #096B72;
$main-light: lighten(#096B72, 10%);
$main-dark: darken(#096B72, 10%);

$second: #D72638;
$second-light: lighten(#D72638, 10%);
$second-dark: darken(#D72638, 10%);

$danger: #900;
$danger-light: lighten($danger, 10%);
$danger-dark: darken($danger, 10%);