
.alert {
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 5px;

    &.danger {
        background-color: #f2dede;
        border: solid 1px #ebccd1;
        color: #a94442;
    }

    &.success {
        background-color: #dff0d8;
        border: solid 1px #d6e9c6;
        color: #3c763d;
    }

    &.info {
        background-color: #d9edf7;
        border: solid 1px #bce8f1;
        color: #31708f;
    }

    &.warning {
        background-color: #fcf8e3;
        border: solid 1px #faebcc;
        color: #8a6d3b;
    }

    .close {
        float: right;
        border: none;
        background: transparent;
        text-shadow: 0 1px 0 #fff;
        opacity: .7;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }
    }
}